<div id="<%= dom_id checklist_record %>">
  <p>
    <strong>Checklist:</strong>
    <%= checklist_record.checklist_id %>
  </p>

  <p>
    <strong>User start:</strong>
    <%= checklist_record.user_start_id %>
  </p>

  <p>
    <strong>User complete:</strong>
    <%= checklist_record.user_complete_id %>
  </p>

  <p>
    <strong>Line:</strong>
    <%= checklist_record.line_id %>
  </p>

  <p>
    <strong>Catalogue:</strong>
    <%= checklist_record.catalogue %>
  </p>

  <p>
    <strong>Checkstart:</strong>
    <%= checklist_record.checkstart %>
  </p>

  <p>
    <strong>Checkend:</strong>
    <%= checklist_record.checkend %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= checklist_record.quantity %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= checklist_record.shift %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= checklist_record.comments %>
  </p>

  <p>
    <strong>Deviationrun:</strong>
    <%= checklist_record.deviationrun %>
  </p>

  <p>
    <strong>Deviationcomment:</strong>
    <%= checklist_record.deviationcomment %>
  </p>

</div>
