
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><small>Nombre:</small> <%= station.name %></li> 
    <li class="list-group-item"><small>Lineas:</small>  <%= station.line.name %></li> 
    <li class="list-group-item"><small>Instrucciones de operador:</small> 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheckDFT" disabled<%=" checked" if station.operator_instructions.to_s.split(",").include?("DFT") %>>
        <label class="form-check-label">DFT</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheckQG" disabled<%=" checked" if station.operator_instructions.to_s.split(",").include?("QG") %>>
        <label class="form-check-label">QG</label>
      </div>
    </li> 
    <li class="list-group-item"><small>Ingersoll IP:</small>  <%=raw station.ingersoll_ips.to_s.empty? ? "<i>Ningun Ingersoll</i>" : station.ingersoll_ips %></li> 
    <li class="list-group-item"><small>Hipot IP:</small>  <%=raw station.hipot_ips.to_s.empty? ? "<i>Ningun Hipot</i>" : station.hipot_ips %></li> 
    <li class="list-group-item"><small>Modelo Actual:</small>  <%=raw station.model.to_s.empty? ? "<i>Atencion! Modelo no asignado.</i>" : station.model %></li> 
    <li class="list-group-item"><small>Pieza Actual:</small>  <%=raw station.part_instance.to_s.empty? ? "<i>Atencion! Pieza no asignada.</i>" : station.part_instance %></li> 
  </ul>

