<div class="row mb-4 p-5 bg-body-tertiary rounded-3" id="<%= dom_id checklist %>">
  <h3>Checklist Builder</h3>
  <div class="col-md-12">
    <div>
    <strong>Line:</strong>
    <%= checklist.line.name %><br/>
    <strong>Name:</strong>
    <%= checklist.name %><br/>
    <strong>Titulo:</strong>
    <%= checklist.title %>
    </div>
    <a style="display:inline-block;" href="<%= edit_checklist_path(checklist) %>" type='button' class='mt-3 btn btn-primary'>Editar Checklist Builder</a>
  </div>
</div>

<div class="row mb-3">
  <h4>
    <span>Checklist Elementos </span>
    <a style="display:inline-block;" href="<%= new_checklist_checklist_item_path(checklist) %>" type='button' class='btn btn-primary'>+ Agregar</a>
    <a id="updateOrdernumBtn" style="display:none;" href="javascript:updateOrdernums();" type='button' class='btn btn-warning'>Actualizar Orden</a>
  </h4>
  <table class="table">
    <thead>
      <th>Ident. Unica</th> 
      <th>Tipo de Elemento</th> 
      <th>Text/Pregunta</th> 
      <th>Tipo de Respuesta</th> 
      <th></th>
    </thead> 
    <tbody id="checklist_items_tbody">
      <% checklist.checklist_items.order(:ordernum).each do |item| %>
        <tr id="row-<%=item.id%>" item="<%=item.id%>">
          <td><%= link_to item.ident, checklist_checklist_item_url(@checklist, item)  %></td>
          <td><%= item.itemtype %></td>
          <td><%= item.label %></td>
          <td><%= item.primaryanswertype %></td>
          <td>
            <a href="javascript:orderUp('row-<%=item.id%>')" style="padding:5px;" class="bi bi-arrow-up-short"></a>
            <a href="javascript:void(0)" onclick="orderDown('row-<%=item.id%>')" style="padding:5px;" class="bi bi-arrow-down-short"></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  function updateOrdernums() {
    var data = "[";
    var children = document.querySelector("#checklist_items_tbody").children;
    for(var i = 0; i < children.length; i++) {
      if(i > 0)
        data += ",";
      data += "[" + children[i].getAttribute("item") + "," + i + "]";
    }
    data+="]";

    fetch('/checklists/<%=@checklist.id%>/updateOrdernums', {
      method: 'PATCH',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ "checklist_items": data })
    })
    .then(response => response.json())
    .then(response => hideUpdateOrdernumsBtn())
  }

  function showUpdateOrdernumsBtn() {
    document.querySelector("#updateOrdernumBtn").style.display = "inline-block";
  }

  function hideUpdateOrdernumsBtn() {
    document.querySelector("#updateOrdernumBtn").style.display = "none";
  }

  function orderUp(rowid) {
    var row = document.querySelector("#"+rowid);
    row.previousElementSibling && row.previousElementSibling.before(row);
    showUpdateOrdernumsBtn();
  }

  function orderDown(rowid) {
    var row = document.querySelector("#"+rowid);
    row.nextElementSibling && row.nextElementSibling.after(row);
    showUpdateOrdernumsBtn();
  }

</script>