<div id="<%= dom_id checklist_item %>">
  <p>
    <strong>Checklist:</strong>
    <%= checklist_item.checklist_id %>
  </p>

  <p>
    <strong>Ident:</strong>
    <%= checklist_item.ident %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= checklist_item.label %>
  </p>

  <p>
    <strong>Primaryanswers:</strong>
    <%= checklist_item.primaryanswers %>
  </p>

  <p>
    <strong>Primaryanswertype:</strong>
    <%= checklist_item.primaryanswertype %>
  </p>

  <p>
    <strong>Itemtype:</strong>
    <%= checklist_item.itemtype %>
  </p>

  <p>
    <strong>Ordernum:</strong>
    <%= checklist_item.ordernum %>
  </p>

  <p>
    <strong>Secondaryanswertype:</strong>
    <%= checklist_item.secondaryanswertype %>
  </p>

</div>
