<ul class="list-group list-group-flush">
  <li class="list-group-item"><small>Checklist:</small> <%= checklist_item.checklist.name %></li>
  <li class="list-group-item"><small>Ident:</small> <%= checklist_item.ident %></li>
  <li class="list-group-item"><small>Tipo de Elemento:</small> <%= checklist_item.itemtype %></li>
  <li class="list-group-item"><small>Label/Pregunta:</small> <%= checklist_item.label %></li>
  <li class="list-group-item"><small>Tipo de respuests primarias:</small> <%= checklist_item.primaryanswertype %></li>
  <li class="list-group-item"><small>Respuestas primarias:</small> <%= checklist_item.primaryanswers %></li>
  <li class="list-group-item"><small>Tipo de respuestas secundarias:</small> <%= checklist_item.secondaryanswertype %></li>
</ul>