<%= form_with(model: [@checklist, checklist_item]) do |form| %>
  <%= form.hidden_field :checklist_id %>
  <% if checklist_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checklist_item.errors.count, "error") %> prohibited this checklist_item from being saved:</h2>

      <ul>
        <% checklist_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ident, style: "display: block" %>
    <%= form.text_field :ident, class: "form-control", placeholder: "nombre unico identificable del campo" %>
  </div>

  <div class="form-group">
    <%= form.label :itemtype, style: "display: block" %>
    <%= form.select :itemtype, ChecklistItem.itemtypes.keys, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label, class: "form-control", placeholder: "La pregunta o el Label del campo" %>
  </div>

  <div class="form-group">
    <%= form.label :primaryanswertype, style: "display: block" %>
    <%= form.select :primaryanswertype, ChecklistItem.primaryanswertypes.keys, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :primaryanswers, style: "display: block" %>
    <%= form.text_field :primaryanswers , class: "form-control", placeholder: "La pregunta o el Label del campo" %>
  </div>

  <div class="form-group">
    <%= form.label :secondaryanswertype, style: "display: block" %>
    <%= form.select :secondaryanswertype, ChecklistItem.secondaryanswertypes.keys, {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.submit "#{checklist_item.new_record? ? "Crear Nueva" : "Actualizar"} Checklist Item", class: "btn btn-info"  %>
  </div>
<% end %>
