<%= render partial: "layouts/callouts" %>

<div class="container mt-3 mb-3">
  <h3>Elemento de checklist: <%= @checklist_item.ident %></h3>
  <%= render @checklist_item %>

  <div class="mt-3">
    <%= link_to "Edit this checklist item", edit_checklist_checklist_item_path(@checklist, @checklist_item), class: "btn btn-info" %> |
    <%= link_to "Back to checklist", checklist_path(@checklist), class: "btn btn-info"  %>
  </div>
</div>
