  <ul class="list-group list-group-flush">
    <li class="list-group-item"><small>Linea</small> <%= product.line.name %></li> 
    <li class="list-group-item"><small>Seq</small> <%= product.seq %></li> 
    <li class="list-group-item"><small>Catalogo</small> <%= product.catalog %></li> 
    <li class="list-group-item"><small>Status</small> <%= product.status %></li> 
    <li class="list-group-item">
      <table class="table table-sm table-responsive">
        <thead><th>Cam Metric</th><th>Valor</th></thead> 
        <tbody>
          <tr>
            <td>Metric 1:</td>
            <td><%=product.cam_metric1%></td>
          </tr>
          <tr>
            <td>Metric 2:</td>
            <td><%=product.cam_metric2%></td>
          </tr>
          <tr>
            <td>Metric 3:</td>
            <td><%=product.cam_metric3%></td>
          </tr>
          <tr>
            <td>Metric 4:</td>
            <td><%=product.cam_metric4%></td>
          </tr>
          <tr>
            <td>Metric 5:</td>
            <td><%=product.cam_metric5%></td>
          </tr>
          <tr>
            <td>Metric 6:</td>
            <td><%=product.cam_metric6%></td>
          </tr>
          <tr>
            <td>Metric 7:</td>
            <td><%=product.cam_metric7%></td>
          </tr>
          <tr>
            <td>Metric 8:</td>
            <td><%=product.cam_metric8%></td>
          </tr>
        </tbody>
      </table> 
    </li> 

